
#room
{
    width: 800px;
    height: 600px;
    background-color: rgba(0,0,0,0);
    margin-left: auto;
    margin-right: auto;
}

body
{  
    background-color: olivedrab;
    text-align: center;
}

#salle1
{
    width: 720px;
    height: 190px;
    background-color: crimson;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    border-radius: 24px;
}
#salle2
{
    width: 720px;
    height: 190px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;    
    border-radius: 24px;
}
#salle3
{
    width: 720px;
    height: 190px;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;    
    border-radius: 24px; 
}

.gg
{
    width: 220px;
    height: 160px;
    margin: auto;
    padding-top: 10px;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    line-height: 10px; 
    border-radius: 18px; 
}

#groupe1
{
    background-color: rgba(0,100,255,1);
}

#groupe2
{
     background-color: rgba(0,100,255,1);  
 }

#groupe3
{
    background-color: rgba(100,100,255,1);
}
#groupe4
{
     background-color: rgba(100,10,255,1);
}
#groupe5
{
     background-color: rgba(100,10,255,1);
}
/*
header
{
    width: 1160px;
    height: 90px;
    background-color: aqua;

}
*/
/*
.header_cont {
    width: 1160px;
    height: 90px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.elem_logo {
    background-color: red;
    margin-top: auto;
    margin-bottom: auto;
}
.icosoc {
    width: 20px;
    height: 20px;
}
.icobord {
    border-left: solid 1px black;
}
*/
/* =================== Navigation =================== */
/*
.nav_lok {
    background-color: royalblue;
    padding-top: 30px;
}
.elem_nav {
    background-color: yellow;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    margin-right: 15px;
}
nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}
.elem_icoso {
    background-color: orange;
}
*/
/*========================== SLIDER ================================*/
/*
.slider {
    width: 100%;
    margin-right: auto!important;
    margin-left: auto!important;
    display: flex;
    justify-content: center;
}
.img_slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 100%;
    height: 800px;
    padding: 20px;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
}
.image-slider-wrapper {
    overflow: hidden;
}
#image_slider {
    position: relative;
    height: 280px;
    padding: 0;
}
#image_slider li {
    max-width: 100%;
    float: left;
    list-style: none;
}
*/
/*========================== ROMAIN ===============================*/


/*========================== THUMBNAIL ================================*/
/*
.thumb {
    width: 1160px;
    height: 194px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}*/

/*
#img_middle {
    width: 350px;
    height: 174px;
    background-image: url(thumbnail/surfgirl1.jpg);
    background-size: cover;
    position: relative;
}*/

/*--- cadre blanc caché à l'état de repos ---*/
/*
#middle_hover_middle {
    visibility: hidden;
    position: relative;
    left: 35px;
    top: -122.5px;
    width: 280px;
    height: 140px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
*/
/* agir sur le 2em element(cadre blanc) a partir du premier(cadre avec l'image de fond)*/
/*
#img_middle:hover #middle_hover_middle {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
*/
/*--- agir sur le 2em element a partir du premier ---*/
/*
#img_middle:not(:hover) #middle_hover_middle {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#img_right {
    width: 350px;
    height: 174px;
    background-image: url(thumbnail/surfgirl3.jpg);
    background-size: cover;
    position: relative;
}
*/
/*--- cadre blanc caché à l'état de repos ---*/
/*
#middle_hover_right {
    visibility: hidden;
    position: relative;
    left: 35px;
    top: -122.5px;
    width: 280px;
    height: 140px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
*/
/* agir sur le 2em element(cadre blanc) a partir du premier(cadre avec l'image de fond)*/
/*
#img_right:hover #middle_hover_right {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
*/
/*--- agir sur le 2em element a partir du premier ---*/
/*
#img_right:not(:hover) #middle_hover_right {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#img_left {
    width: 350px;
    height: 174px;
    background-image: url(thumbnail/paddlew2.jpg);
    background-size: cover;
    position: relative;
}
*/
/*--- cadre blanc caché à l'état de repos ---*/
/*
#middle_hover_left {
    visibility: hidden;
    position: relative;
    left: 35px;
    top: -122.5px;
    width: 280px;
    height: 140px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
*/
/* agir sur le 2em element(cadre blanc) a partir du premier(cadre avec l'image de fond)*/
/*
#img_left:hover #middle_hover_left {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
*/
/*--- agir sur le 2em element a partir du premier ---*/
/*
#img_left:not(:hover) #middle_hover_left {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
*/
/*--- position et taille icone orange dans le cadre blanc à l'état de repos ---*/
/*
.ico_hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
*/
/*---position icone blanc---*/
/*
.ico_middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
*/
/*--- position et taille du bouton discover au repos ---*/
/*
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 125px;
    height: 30px;
    border: 3px solid #F24725;
}
*/
/*--- texte dans le bouton ---*/
/*
a button {
    color: #F24725;
    font-weight: medium;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
}
*/
/*--- hover sur le bouton transition du fond blanc vers le orange ---*/
/*
a button:hover {
    cursor: pointer;
    background-color: #F24725;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}
*/
/*---retour ver l'état de repos du bouton---*/
/*
a button:not(:hover) {
    cursor: pointer;
    background-color: #FFF;
    color: #F24725;
    transition: all 0.3s ease-in-out;
}
*/
/*---ça c'est juste pour enlever le trait sous le liens dans le bouton---*/
/*
body a {
    text-decoration: none;
}
*/
/*========================== FOOTER ================================*/
/*
.footer_cont {
    width: 940px;
    height: 200px;
    background-color: blueviolet;
    border-top: 2px solid grey;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.font_footer {
    font-size: 12px;
    margin-right: 10px;
}
footer p {
    font-size: 12px;
}
.underl {
    background-color: beige;
    border-bottom: 1px solid red;
    width: 46px;
    height: 22px;
}
*/
/*------ Section News letter ------*/
/*
.elem_footer1 {
    flex: 2;
}
.div_newsletter {
    width: 200px;
    margin: 0 auto;
    background-color: cadetblue;
}
.tittle_newsletter {
    width: 200px;
    margin: 0 auto;
    background-color: cadetblue;
    width: 200px;
    display: flex;
}
.but_email {
    background-color: darkgrey;
    width: 180px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}
.but_inscrire {
    background-color: blue;
    width: 180px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}
*/
/*------ Section Pages ------*/
/*
.elem_footer2 {
    flex: 1;
}
.tittle_page {
    width: 200px;
    background-color: cadetblue;
    width: 200px;
    display: flex;
}
.paraf_pages {
    line-height: 10pt;
}
*/
/*------ Section Contact ------*/
/*
.elem_footer3 {
    flex: 1;
}
.tittle_contact {
    width: 200px;
    background-color: cadetblue;
    width: 200px;
    display: flex;
}
.paraf_contact {
    line-height: 7pt;
}
.socio_lok {
    width: 16px;
    height: 16px;
}*/
